.list-boxs__comments__comment
  %p.list-boxs__comments__comment__text=comment.text
  =link_to root_path,class:"list-boxs__comments__comment__image" do
    =image_tag("toppage/toppage-cat.jpg",class:"list-boxs__comments__comment__image")
   