.details-box
  .details-box__text
    %p.details-box__text=tweet.title
  .details-box__option
    - if user_signed_in? && (tweet.user_id == current_user&.id) 
      = link_to tweet_path(tweet.id), method: :delete,class:"details-box__option__box" do
        =fa_icon("trash",class:"details-box__option__box__text-delete")
      = link_to edit_tweet_path(tweet.id),class:"details-box__option__box" do
        =fa_icon("edit",class:"details-box__option__box__text-edit")
    = link_to "詳細", tweet_path(tweet.id),class:"details-box__option__box__text-anawer"
    =fa_icon("heart",class:"details-box__option__box__text-like")
    %span.details-box__option__box__text-like=tweet.likes.count