-breadcrumb :root
- if flash[:notice]
  %p.flash= flash[:notice]
.container-fluid
  .index-boxs
    =link_to root_path do 
      %h2.title-name 人気な問題をピックアップ
    .problem-boxs
      = render partial:'display',collection:@tweets,as:"tweet"
    =link_to root_path do
      %p.title-option もっとみる
    =link_to root_path do
      %h2.title-name 選択式問題をピックアップ
    .problem-boxs
      = render partial:'display',collection:@tweets,as:"tweet"
    =link_to root_path do
      %p.title-option もっとみる
    =link_to root_path do
      %h2.title-name 記述問題をピックアップ
    .problem-boxs
      = render partial:'display',collection:@tweets,as:"tweet"
    =link_to root_path do
      %p.title-option もっとみる
  .answer-button
    =render partial:"answer-button"
    