- if flash[:notice]
  %p.flash= flash[:notice]
.select-boxs
  .select-boxs__box
    %h1.select-boxs__box__title スマホで簡単に回答できる問題を作りたい場合はこちら
    %h2.select-boxs__box__link
      =link_to "選択式問題を作る", select_tweets_path,class:"from-boxs__back"
  .select-boxs__box
    %h1.select-boxs__box__title パソコンでコードを打ちながら解く問題はこちら
    %h2.select-boxs__box__link 
      =link_to "記述問題を作る", description_tweets_path,class:"from-boxs__back"
%h2.from-boxs__back 
  =link_to "戻る",  :back,class:"from-boxs__back"