.container-fluid
  .detail-boxs
    %h2.title-name 新着問題をピックアップ 
    .row
      =render partial:'details-display',collection:@new_tweet,as:"tweet"
    %h2.from-boxs__back 
      =link_to "戻る", :back,class:"from-boxs__back"