.container-fluid
  %h2.title-name 選択問題をピックアップ 
  .detail-boxs
    = render partial:'details-display',collection:@select_problem,as:"tweet"
  %h2.from-boxs__back 
    =link_to "戻る", :back,class:"from-boxs__back"