
<div class="content">
  <div class="content_question">
  <p>問題文</p>
  <div class="content_problem">
  <%=@tweet.content%>
  </div>
  </div>
  <div class="content_question">
  <p>回答</p>
  <div class="content_anwser">
  <textarea name="kanso" rows="10" cols="200"></textarea>
  </div>
  </div>
  <input type="submit" value="送信">
</div>