- if flash[:notice]
  %p.flash= flash[:notice]
.container-fluid
  .list-boxs
    %h1.list-boxs__head__title 商品のタイトル
    .list-boxs__head
      .list-boxs__head__user-image
        =image_tag("toppage/toppage-cat",class:"list-boxs__head__user-image")
      .list-boxs__head__list-details
        %table{border:"1"}
          %tr
            %td.list-boxs__head__list-details__table__td 投稿者
            %td.list-boxs__head__list-details__table__td ユーザー名
          %tr
            %td.list-boxs__head__list-details__table__td ジャンル
            %td.list-boxs__head__list-details__table__td 選択問題
          %tr
            %td.list-boxs__head__list-details__table__td 正答率
            %td.list-boxs__head__list-details__table__td 50%
          %tr
            %td.list-boxs__head__list-details__table__td 回答数
            %td.list-boxs__head__list-details__table__td 50
    %h2.list-boxs__head__link
      =link_to "回答する", select_tweets_path,class:"list-boxs__head__link"
    .list-boxs__under
      %p.list-boxs__under__theme 問題文のポイントを紹介
      %p.list-boxs__under__point=@tweet.point
      .list-boxs__under__like-flag-boxs
        .list-boxs__under__like-flag-boxs__like
          =fa_icon("heart")
          %span いいね!
          =link_to root_path,class:"list-boxs__under__like-flag-boxs__like__number" do
            %span.list-boxs__under__like-flag-boxs__like__number 1 
        .list-boxs__under__like-flag-boxs__flag
          =fa_icon("flag")
          =link_to "問題の商品として報告",root_path,class:"list-boxs__under__like-flag-boxs__flag"
    %h1.list-boxs__head__title コメント一覧
    .list-boxs__comments
      =render partial:'comments/list',collection:@comments,as:"comment"
      =link_to "もっと見る",tweet_comments_path(@tweet.id),class:"list-boxs__comments__more"
    
    =link_to "コメントする",new_tweet_comment_path(@tweet.id),class:"list-boxs__comment-buttom"

           


 