-# -breadcrumb :tweet_show,@tweet

- if flash[:notice]
  %p.flash= flash[:notice]
.container-fluid
  .list-boxs
    %h1.list-boxs__head__title=@tweet.title
    .list-boxs__head
      .list-boxs__head__user-image
        =image_tag(current_user&.image.to_s,class:"list-boxs__head__user-image")
      .list-boxs__head__list-details
        %table
          %tr
            %th.list-boxs__head__list-details__table__td 項目
            %th.list-boxs__head__list-details__table__td 詳細 
          %tr
          %tr
            %td.list-boxs__head__list-details__table__td 投稿者
            %td.list-boxs__head__list-details__table__td=@tweet.user&.name
          %tr
            %td.list-boxs__head__list-details__table__td ジャンル
            %td.list-boxs__head__list-details__table__td=type_judge
          %tr
            %td.list-boxs__head__list-details__table__td 正答率
            %td.list-boxs__head__list-details__table__td=answer_count
          %tr
            %td.list-boxs__head__list-details__table__td 回答数
            %td.list-boxs__head__list-details__table__td=@number.count
    %h2.list-boxs__head__link
      - if  (@check_answer_result.present?) ||  (@check_answer.present?)
        =link_to "前回の回答を削除する",tweet_answer_path(@tweet.id),method: :delete,class:"list-boxs__head__link", data: {confirm: '前回の回答結果は残りません',cancel: 'やめる',commit: '削除する'},title: '削除確認'
      - else
        =link_to "回答する",new_tweet_answer_path(@tweet.id),class:"list-boxs__head__link" 
    .list-boxs__under
      %p.list-boxs__under__theme 問題文の ポイントを紹介
      %p.list-boxs__under__point=@tweet.point
      - if user_signed_in?
        .list-boxs__under__like-flag-boxs
          .list-boxs__under__like-flag-boxs__like
            =fa_icon("heart",class:"from-icon")
            %span.like いいね!
            =render partial:'likes/like'
          .list-boxs__under__like-flag-boxs__flag
            =fa_icon("flag",class:"from-icon")
            =flag_list
    -if @comments.present?
      %h1.list-boxs__head__title コメント一覧
      .list-boxs__comments
        =render partial:'comments/list',collection:@comments,as:"comment"
        =link_to "もっと見る",tweet_comments_path(@tweet.id),class:"list-boxs__comments__more"
    - if user_signed_in?
      =link_to "コメントする",new_tweet_comment_path(@tweet.id),class:"list-boxs__comment-buttom"
    %h2.from-boxs__back 
      =link_to "戻る", :back,class:"from-boxs__back"
           


 