
<div class="content">
  <div class="content_question">
  <p>問題文</p>
  <div class="content_problem">
  <%=sanitize markdown(@tweet.content)%>
  </div>
  </div>
  <div class="content_question">
  <%= link_to"問題を解いてみる？",new_tweet_answer_path(@tweet.id)%>
  </div>
</div>