- if Like.find_by(user_id:current_user&.id,tweet_id: @tweet.id)
  = link_to @tweet.likes.count,"/likes/#{@tweet.id}/delete",method: :delete, remote: true,id:"like_judgment"
- else 
  =link_to @tweet.likes.count,"/likes/#{@tweet.id}/create",method: :post, remote: true,id:"like_judgment"