-# -breadcrumb :user,current_user
.container-fluid
  .mypage
    = render "users/mypage-list"
    .mypage__content
      .mypage__content__user-icon
        = link_to root_path, class: "mypage__content__user-icon__user" do
          = image_tag(current_user&.image.to_s, class: "mypage__content__user-icon__user", size: "60x60") 
        %h2.mypage__content__user-icon__name=current_user&.name
      .mypage__content__user-info
        %table
          %tr
            %th 項目
            %th 詳細
          %tr
            %td 名前
            %td=link_to current_user&.name,edit_user_registration_path
          %tr
            %td email
            %td=link_to current_user&.email,edit_user_registration_path
          %tr
          %td パスワード
          %td=link_to "**********",edit_user_registration_path