.from-boxs {
  text-align: center;
  width: 50%;
  margin: 0 auto;
    &__box{
      margin: 50px 0 50px 0;
      &__from{
        width: 100%;
        min-height: 200px;
        margin: 20px 0 0 0;
      }
      &__titles{
        line-height: 2;
        display: flex;
        font-weight: bold;
        margin: 0 0 20px 0;
          &__require{
            color: white;
            background-color: red;
            padding:0 0 0 0;
            margin: 0 20px 0 0;
            width: 10%;
          }
          &__any{
            color: white;
            background-color: blue;
            padding:0 0 0 0;
            margin: 0 20px 0 0;
            width: 10%;

          }
          &__title{
            margin:0 20px 0 0;
          }
          &__select{
            display: inline-block;
            width: 100%;
            margin: 0 0 20px 0;
          }
      }
    }
}

h2.from-boxs__title {
  text-align: -webkit-left;
  font-weight: bold;
  color: red;
  font-size: larger;
}

// 送信ボタン
input.from-boxs__box__start-buttom{
color: white;
background-color: red;
min-height: 50px;
width: 100%;
}

// 戻るボタン
h2.from-boxs__back {
  text-align: center;
  font-size: large;
  background-color: gray;
  line-height: 3;
  margin:20px auto;
  width: 200px;
}
a.from-boxs__back {
  color: white;
}

// 隙間開ける要素として利用
.list-boxs__blank {
  height: 20px;
}

// 入力タイトル
p.from-boxs__title {
  margin: 0 0 0 0;
}

// selectフォーム
.select-boxs{
  text-align: center;
  margin:100px 0 0 0;
  font-size: 30px;
    &__box{
      text-align: -webkit-center;
    }
}


// セレクトタブ
h1.select-boxs__box__link {
  margin: 0 0 30px 0;
}

h2.select-boxs__box__link {
  line-height: 4;
  background: blue;
  color: white;
  width: 500px;
  text-align: center;
  margin:50px 0px 50px 0px;
  border-radius: 40px;
}

// answerの部分
.from-boxs__answer-boxs {
  text-align: left;
    &__box{
      width: 100%;
      min-height: 200px;
      padding: 0.2em 0.5em;
      margin: 2em 0;
      color: #565656;
      background: #ffeaea;
      box-shadow: 0px 0px 0px 10px #ffeaea;
      border: dashed 2px #ffc3c3;
      border-radius: 8px;
      word-wrap: break-word;
    }
}
p.from-boxs__answer-boxs__title{
  font-weight: bold;
  text-align: left;
}

// 選択式の回答のフォーム
// コメントの枠
.list-boxs__comments__comment {
  padding: 20px 10px 0 0;
  margin: 20px 0 20px 0;
  font-size: 15px;
  min-height: 100px;
  word-wrap: break-word;
  display: flex;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}

.check_boxs{
  text-align: left;
  display: flex;
  min-height: 50px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
    &__box{
      padding: 0 20px 0 0;
    }
}


// ログイン、新規登録に関わるフォーム

.from{
  font-family: 'Open Sans', sans-serif;
  width:40%;
  margin: 100px auto;
  display: block;
  text-align: center;
    &__boxs{
      background: #ebebeb;
      padding: 12px;
        &__field{
          margin: 5px 0 20px 0;
          width: 100%;
          line-height: 3;
        }
    }
    &__title{
      background: #28d;
      padding: 20px;
      font-size: 1.4em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
}
.from__boxs__buttom{
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  line-height: 3;
  
}



// テーブル
table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
  word-break : break-all;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

// プレビューで表示させる画像
.image-box {
  text-align: left;
}
#book_img{
  color: white;
  
  padding: 0 0 0 0;
  margin: 0 20px 0 0;

}

// file filedの表示
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

@media(max-width:1200px){
  .from-boxs{
    font-size: 30px;
    width: 100%;
  }
  h2.from-boxs__back {
    font-size: 30px;
    width: 80%;
  }
  .from.from-box{
    font-size: 30px;
    width: 80%;
  }
  label.custom-file-label{
    font-size: 25px;
  }
  .from__boxs__field{
    font-size: 25px;
  }
  .list-boxs__comments__comment{
    font-size: 30px;
  }
  input#answer_judge_problem1 {
    width: 60px;
    height: 60px;
  }
  input#answer_judge_problem2 {
    width: 60px;
    height: 60px;
  }
  input#answer_judge_problem3 {
    width: 60px;
    height: 60px;
  }
  input#answer_judge_problem4 {
    width: 60px;
    height: 60px;
  }
  input#answer_judge_problem5 {
    width: 60px;
    height: 60px;
  }
  #responsive{
    display: none;
  }
  input.from-boxs__box__start-buttom {
    line-height: 3;
  }
  
  
}

// ログイン画面のテストユーザー表示
.login {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}