.from-boxs {
  text-align: center;
  width: 50%;
  margin: 0 auto;
    &__box{
      margin: 50px 0 50px 0;
      &__from{
        width: 100%;
        min-height: 300px;
      }
      &__titles{
        display: flex;
        font-weight: bold;
        margin: 0 0 20px 0;
          &__require{
            color: white;
            background-color: red;
            padding:0 20px 0 0;

          }
      }
    }
}

// 送信ボタン
input.from-boxs__box__start-buttom{
color: white;
background-color: red;
height: 50px;
width: 100%;
}

// 戻るボタン
h2.from-boxs__back {
  text-align: center;
  font-size: large;
  background-color: gray;
  line-height: 3;
  margin:20px auto;
  width: 200px;
}
a.from-boxs__back {
  color: white;
}

// 隙間開ける要素として利用
.list-boxs__blank {
  height: 20px;
}

// 入力タイトル
p.from-boxs__title {
  margin: 0 0 0 0;
}

// selectフォーム
.select-boxs{
  text-align: center;
  margin:100px 0 0 0;
  font-size: 30px;
    &__box{
      text-align: -webkit-center;
    }
}


// セレクトタブ
h1.select-boxs__box__link {
  margin: 0 0 30px 0;
}

h2.select-boxs__box__link {
  line-height: 4;
  background: blue;
  color: white;
  width: 500px;
  text-align: center;
  margin:50px 0px 50px 0px;
  border-radius: 40px;
}

// answerの部分
.from-boxs__answer-boxs {
  text-align: left;
    &__box{
      width: 100%;
      min-height: 200px;
      padding: 0.2em 0.5em;
      margin: 2em 0;
      color: #565656;
      background: #ffeaea;
      box-shadow: 0px 0px 0px 10px #ffeaea;
      border: dashed 2px #ffc3c3;
      border-radius: 8px;
      word-wrap: break-word;
    }
}
p.from-boxs__answer-boxs__title{
  font-weight: bold;
}
