header{
  display: flex;
  margin: 30px 0 0 0;
}
.main-left{
  margin-top: 40px;
  height: 100px;
  font-size: 50px;
  color: pink;
  text-align: center;
    &__text{
      text-decoration: none;
    }
    &__comment{
      font-size: 15px;
      font: bold;
      color: black;
    }
}
.main-right{
  margin-top: 40px;
  height: 100px;
    &__mypage{
      padding:20px 60px 0 0;
      width: 90%;
      text-align: right;
    }
}

// 検索フォームの要素

// 全体の要素
.main-right__search-box{
  margin: 5px 0 0 0;

}
// 検索フォーム
input.main-right__search-box {
  width: 80%;
  height: 40px;
  padding-left: 20px;
}

// アイコン
i.fa.fa-search.fa-search-icon {
  font-size: 20px;
  padding-left: 5px;
}

// マイページの画像
.main-right__mypage__image{
  margin:5px 5px 0 0;
  width: 50px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
}

// パンクズ
.breadcrumbs-box{
  width: 90%;
  margin: 10px auto;
  font-size:15px;
  color: black;
  
}

// 検索ボタン
.search-box__buttom{
  height:38px;
}


// レスポンシブさせたMENUボタンの位置を右側に調整
.col-xs-2.d-xl-none.lists{
  width: 80%;
  text-align: right;
  margin: 0 auto;
}


@media(max-width:1200px){
  .main-left{
    font-size: 100px;
    margin: 0 0 100px 0;
  }
  .main-left__comment {
    font-size: 25px;
  }
  input.main-right__search-box {
    font-size: 50px;
    height: 70px;
  }
  i.fa.fa-search.fa-search-icon {
    font-size: 50px;
  }
  .col-xs-12.d-xl-none.lists.menu {
    font-size: 50px;
  }
  .card.header {
    margin: 50px 0 0 70px;
  }
}

// 検索画面携帯サイズよう
.col-xs-12.d-xl-none.search-box {
  width: 100%;
  display: inline-block;
  text-align: center;
}