
<div class="container-fluid">
  <p>問題文</p>
  <%=sanitize markdown(@tweet.title)%>
  <div class="row">
    <div class="col-xs-6 col-lg-6">
      <%= form_for @answer, url: tweet_answers_path(@answer.tweet.id,@answer.id),method: :post do |f| %>
      <h5>回答を入力して下さい</h5>
       <div class="form-group"><%= f.text_area :content, class:"form-control",type:"text"%></div>
    </div>
    <div class= "col-xs-6 col-lg-6" id="form-text">
      <h4>入力内容が更新</h4>
    </div>
    <div class="form-group"><%= f.submit "送信",class:"form-control"%></div>
    <% end %>
  </div>
</div>

