 
   <%= form_for @answer, url: tweet_answer_path,method: :post do |f| %>
    <h3 class="content__theme">投稿フォーム</h3>
    <div class="content__content">
      <%= f.text_area :content,value: "\n\n\n\n\n~~~\n問題を入力\n~~~", rows: "20",cols: "200"%>
    </div>
       <div class="content__button">
      <%= f.submit "SENT" %> 
    </div>
   <% end %>
    <h3 class="content__theme">ここにJSを組み込んで表示させる</h3>
    <div class="content__content">
     <textarea name="kanso" rows="20" cols="200">打ち込んだ内容がmarkdounで表示されるんや。</textarea>
    </div>