
<div class="container">
<div class="container-fluid">
<h3>答え</h3>
<%=sanitize markdown(@tweet.content)%>
<h3>あなたの回答</h3>
<%=sanitize markdown(@answer.content)%>
<h3>ポイント</h3>
<%=sanitize markdown(@tweet.point)%>
<%=%>
</div>
</div>