%h2.from__title 問題の報告
.flag-main__main
  .flag-main__main__item-box
    %h4.flag-main__main__item-box__item-theme=@tweet.title
  .flag-main__main__flags-select
    %p.flag-main__main__flags-select__wrap__info-text
      %br不適切な問題の報告に基づいて随時
      %br管理人でチェックさせていただき対応してまいります。
      %br特に返答はいたしませんがご了承ください
    .list-boxs__head__link
      =flag_judgment