// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  width: 100%;
 
}


.content_message{
  width: 50%;
  margin: 0 auto;
}

.content_message_text{
 
}

.highlight{
  text-align: center;
}