 <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
         <%= link_to "Ruby-Like",root_path %>
         <%= link_to "新規投稿",new_tweet_path%>
        </div>
      </div>
    </nav>