.container-fluid
  %header
    .main-left
      =fa_icon("heart")
      = link_to "RUBY-LIKE",root_path,class:"main-left__text"
      %p.main-left__comment 問題を解いて好きになろう
    .main-right
      .main-right__search-box
        %input.main-right__search-box{name:"keyword",placeholder:"何かお探しですか？"}
        =fa_icon("search search-icon")
      -if  user_signed_in?
        .main-right__mypage
          =image_tag(current_user&.image.to_s,class:"main-right__mypage__image")
          =link_to "#{current_user&.name}",users_path
      -else
        .main-right__mypage
          =link_to "新規登録",new_user_registration_path
          =link_to "ログイン",new_user_session_path
  .breadcrumbs-box
    -# = breadcrumbs separator: " &rsaquo; " 

